<template name="searchTrainer">

  <div class="separator separator-inverted">
    <h2>{{ i18n 'trainer.search' }}</h2>
  </div>

  <div class="container margin-top">

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="searchInput">
          {{ > EasySearch.Input index=index attributes=inputAttributes timeout=500 }}
        </div>
      </div>
    </div>

    <div class="row">
    {{ #EasySearch.IfSearching index=index }}
      {{ > searching }}
    {{ else }}
      {{ #EasySearch.Each index=index }}
        <div class="col-md-3 col-sm-6 trainerbox">
          {{ > trainerBox }}
        </div>
      {{ /EasySearch.Each }}
      <div class="col-md-2 col-md-offset-5">
        {{ > EasySearch.LoadMore index=index attributes=loadMoreAttributes content="Mehr" count=80 }}
      </div>
    {{ /EasySearch.IfSearching }}
    </div>

    {{ #EasySearch.IfNoResults index=index }}
      {{ > searchFailed }}
    {{ /EasySearch.IfNoResults }}
  </div>
</template>
