@import url("//hello.myfonts.net/count/xyzxyz");
@import url("//fonts.googleapis.com/css?family=Noto+Sans:400,700");
@font-face {
  font-family: 'Choplin-Medium';
  src: url("../fonts/2E6C1C_0_0.eot");
  src: url("../fonts/2E6C1C_0_0.eot?#iefix") format('embedded-opentype'), url("../fonts/2E6C1C_0_0.woff2") format('woff2'), url("../fonts/2E6C1C_0_0.woff") format('woff'), url("../fonts/2E6C1C_0_0.ttf") format('truetype');
}
.Choplin-Medium {
  font-family: Choplin-Medium;
  font-weight: normal;
  font-style: normal;
}
.Choplin-Bold {
  font-family: Choplin-Medium;
  font-weight: 700;
  font-style: normal;
}
.Choplin-ExtraLight {
  font-family: Choplin-Medium;
  font-weight: lighter;
  font-style: normal;
}
.Noto-Regular {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}
.Noto-Bold {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
}
h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
}
h3 {
  font-family: Choplin-Medium;
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
}
h4 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}
h5 {
  font-family: Choplin-Medium;
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
}
h6 {
  font-family: Choplin-Medium;
  font-weight: lighter;
  font-style: normal;
  font-size: 20px;
}
/* Buttons */
.btn {
  border-radius: 0;
  padding: 4px 12px;
  font-weight: normal;
}
.btn.active {
  box-shadow: none;
}
.btn-red {
  color: white;
  background: #eb5c4f;
  border-color: #eb5c4f;
}
.btn-red:hover {
  color: white;
  background-color: #9f2f25;
  border-color: #9f2f25;
}
.btn-red.active {
  background-color: #7f2420;
  border-color: #7f2420;
}
.btn-light-blue {
  color: #3b3b3d;
  background: #7ebebe;
  border-color: #7ebebe;
}
.btn-light-blue:hover {
  color: white;
  background-color: #eb5c4f;
  border-color: #eb5c4f;
}
.btn-light-blue.active {
  color: white;
  background-color: #7f2420;
  border-color: #7f2420;
}
.btn-light-blue2 {
  color: white;
  background: #7ebebe;
  border-color: #7ebebe;
}
.btn-light-blue2:hover {
  color: white;
  background-color: #eb5c4f;
  border-color: #eb5c4f;
}
.btn-light-blue2.active {
  color: #7f2420;
  background-color: #efebe3;
  border-color: #efebe3;
}
.btn-dark-blue {
  color: white;
  background: #427878;
  border-color: #427878;
}
.btn-dark-blue:hover {
  color: white;
  background-color: #eb5c4f;
  border-color: #eb5c4f;
}
.btn-dark-blue.active {
  background-color: #7f2420;
  border-color: #7f2420;
}
.btn-white {
  color: #3b3b3d;
  background: #fff;
  border-color: #efebe3;
}
.btn-white:hover {
  color: white;
  background-color: #eb5c4f;
  border-color: #eb5c4f;
}
.btn-white.active {
  color: white;
  background-color: #7f2420;
  border-color: #7f2420;
}
.btn-beige {
  color: white;
  background: #efebe3;
  border-color: #efebe3;
}
.btn-beige:hover {
  color: white;
  background-color: #3b3b3d;
  border-color: #3b3b3d;
}
.btn-beige.active {
  background-color: #7f2420;
  border-color: #7f2420;
}
.btn-lg {
  padding: 15px 35px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
}
.btn-sm {
  padding: 1px 8px;
}
.btn-xs {
  padding: 1px 8px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
.btn-round {
  border-radius: 500%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  padding: 0;
}
.btn-square {
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 0;
}
/* Pagination */
.pagination > li > a {
  font-size: 12px;
  color: #fff;
  background-color: #949494;
  border: none;
  border-radius: 4px;
  margin: 0 2px;
  padding: 3px 7px;
}
.pagination > li > a:hover {
  background-color: #eb5c4f;
  color: #fff;
}
.pagination > li:first-child > a,
.pagination > li:last-child > a {
  color: #949494;
  background-color: #fff;
}
/* Accordion */
.panel-default {
  border-radius: 0 !important;
}
.panel-default > .panel-heading {
  background-color: #fff;
}
.panel-default > .panel-heading > h6 {
  color: #427878;
}
.panel-default > .panel-heading:hover {
  background-color: #427878;
}
.panel-default > .panel-heading:hover > h6 {
  color: #fff;
}
.panel-default > .panel-heading:hover .caret {
  border-top: 8px solid #fff;
}
.panel-default > .panel-heading a {
  text-decoration: none;
}
.in ~ .panel-heading {
  background-color: #7ebebe;
}
.panel-default .caret {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #eb5c4f;
}
/* Button Bar */
.btn-bar-left,
.btn-bar-right {
  position: relative;
  float: left;
}
.btn-bar-left {
  width: 40px;
}
.btn-bar-right {
  visibility: hidden;
}
.btn-bar-right.in {
  visibility: visible;
}
.btn-bar-right > ul > li {
  width: 240px;
  background-color: #427878;
  color: #fff;
  padding: 10px 10px 10px 20px;
}
.btn-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #7ebebe;
}
.btn-bar li {
  margin-bottom: 1px;
}
.btn-bar span {
  padding: 4px 10px 4px 20px;
  border-radius: 4px;
}
.btn-bar-inverted .btn-bar-right > ul > li {
  color: #3b3b3d;
  background-color: #fff;
}
.btn-bar-inverted ul {
  color: #3b3b3d;
  background-color: #fff;
}
.icon-square {
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  vertical-align: middle;
  color: #427878;
}
span.places {
  background-color: #7ebebe !important;
}
/* Input Fields */
input.input-blue {
  border: #7ebebe solid 12px;
  -webkit-box-shadow: inset 0px 0px 0px 7px #e4f1f1;
  -moz-box-shadow: inset 0px 0px 0px 7px #e4f1f1;
  box-shadow: inset 0px 0px 0px 7px #a0cfcf;
  width: 100%;
  height: 80px;
}
input.input-gray {
  border: #3b3b3d solid 20px;
  background-color: #949494;
  width: 100%;
  height: 80px;
}
input.input-beige {
  background-color: #efebe3;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
input.input-beige ::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Sort */
div.sort {
  font-size: 18px;
}
.sort .caret {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #eb5c4f;
}
ul.sort {
  left: inherit;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sort li input {
  margin-right: 10px;
}
.sort li > a {
  background-color: #eb5c4f;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 1px;
}
.sort li > a:hover {
  color: #fff;
  background-color: #9f2f25;
}
/* Boxes */
.box-xl,
.box-lg {
  background-color: #fff;
}
.box-xl {
  width: 1300px;
  overflow: auto;
}
.box-xl .box-left,
.box-xl .box-center,
.box-xl .box-right {
  float: left;
  position: relative;
  text-align: left;
}
.box-xl .box-left {
  width: 200px;
}
.box-xl .box-left .box-img {
  margin-bottom: 16px;
}
.box-xl .box-left p {
  margin: 0 0 2px 0;
}
.box-xl .box-left p button {
  margin-right: 20px;
}
.box-xl .box-left .fa-star,
.box-xl .box-left .fa-star-o,
.box-xl .box-left .fa-star-half-o {
  font-size: 16px;
  color: #427878;
}
.box-xl .box-center {
  width: 820px;
  padding: 20px;
}
.box-xl .box-right {
  width: 280px;
  float: right;
}
.box-lg {
  width: 625px;
  overflow: auto;
}
.box-lg .box-left,
.box-lg .box-center,
.box-lg .box-right {
  float: left;
  position: relative;
  text-align: left;
}
.box-lg .box-left {
  width: 200px;
}
.box-lg .box-left .box-img {
  margin-bottom: 16px;
}
.box-lg .box-left p {
  margin: 0 0 2px 0;
}
.box-lg .box-left p button {
  margin-right: 20px;
}
.box-lg .box-left .fa-star,
.box-lg .box-left .fa-star-o,
.box-lg .box-left .fa-star-half-o {
  font-size: 16px;
  color: #427878;
}
.box-lg .box-center {
  width: 345px;
  padding: 20px;
}
.box-lg .box-right {
  text-align: right;
  width: 40px;
  float: right;
}
.box-md {
  width: 290px;
  background-color: #3b3b3d;
  padding: 40px;
}
.box-md .box-md-inner {
  border: #fff solid 1px;
}
.box-md .box-md-title {
  margin: 0 40px;
  margin-top: -20px;
}
.box-md .box-md-title h6,
.box-md .box-md-title h3 {
  text-align: center;
  margin: 0;
  color: #fff;
  background-color: #3b3b3d;
}
.box-md .box-md-content {
  padding: 20px;
}
.box-md .box-md-content h6,
.box-md .box-md-content p {
  text-align: center;
  margin-bottom: 0;
  color: #fff;
}
.box-sm {
  width: 288px;
  background-color: #fff;
  text-align: left;
}
.box-sm .box-sm-title {
  min-height: 100px;
  padding: 20px 10px;
  background-color: #427878;
}
.box-sm .box-sm-title h5,
.box-sm .box-sm-title p {
  color: #fff;
}
.box-sm .box-sm-title h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.box-sm .box-sm-subtitle {
  background-color: #949494;
  color: #fff;
  padding: 2px 10px;
}
.box-sm .box-sm-content {
  padding: 20px;
}
.box-sm .box-sm-footer {
  overflow: auto;
}
.box-sm .box-sm-footer .fa-star,
.box-sm .box-sm-footer .fa-star-o,
.box-sm .box-sm-footer .fa-star-half-o {
  font-size: 16px;
  color: #427878;
}
.box-sm .box-sm-footer .box-sm-footer-left,
.box-sm .box-sm-footer .box-sm-footer-center,
.box-sm .box-sm-footer .box-sm-footer-right {
  float: left;
}
.box-sm .box-sm-footer .box-sm-footer-left,
.box-sm .box-sm-footer .box-sm-footer-right {
  width: 40px;
}
.box-sm .box-sm-footer .box-sm-footer-right {
  float: right;
}
.box-sm .box-sm-footer .box-sm-footer-center {
  text-align: center;
  padding-top: 10px;
  width: 208px;
}
/* Sections */
.bg-grunge {
  background: url("../img/bedge-grunge.png");
}
/* Helpers */
.dark-gray {
  color: #3b3b3d;
}
.light-gray {
  color: #949494;
}
.margin-top {
  margin-top: 40px;
}
.margin-bottom {
  margin-bottom: 40px;
}
