@-webkit-keyframes indicate-bounce {
  0% { bottom: 20px; }
  50% { bottom: 10px; }
  100% { bottom: 20px; }
}

#scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 1;
  color: white;
  -webkit-animation: indicate-bounce 1.2s ease-in-out 2s infinite;
}

.taxStatus {
  opacity: 0.5;
  font-style: italic;
  font-size: 12px;
  padding-left: 5px;
}

.comma-list { 
  list-style-type: none;
  padding-left: 0px;
 }
.comma-list li { display: inline }
.comma-list li:after { content: ", " }
.comma-list li:last-child:after { content: "" }


#preview-wrapper { height: 500px; padding: 0; }
#preview-frame { width:200%; height: 1000px; border: 1px solid black; }
#preview-frame {
    -ms-zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
}

/*************** Course Edit ***************/

.hover-text {
  margin-top: 20px;
}

/*************** Course Preview Menu ***************/

.filters .nav > li > a {
  padding: 6px 15px;
}

.filters .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
  color: #333;
  background-color: transparent;
}

.filters .nav-pills > li.active > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.filters .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
}

.filters .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: #ccc;
}

.filters .dropdown-menu {
  top: -2px;
  left: 110%;
}

/*************** Profile ***************/

.video-wrapper {
  margin: 25px;
}

/***************  ***************/

.searchInput {
  margin-bottom: 25px;
}
