/*html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  line-height: 1.8;
  min-height: 100%;
  color: #5a5a5a;
  padding-top: 70px;
  padding-bottom: 200px;
  position: relative;
}*/

/*footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 180px;
  padding: 20px;
  background-color: #4C4E61;
  color: #787985;
}

footer a {
  text-decoration: none;
  color: #787985;
}

footer a:visited {
  color: #787985;
  text-decoration: none;
}

footer a:hover {
  color: #ffffff;
  text-decoration: none;
}*/

.comma-list { 
  list-style-type: none;
  padding-left: 0px;
 }
.comma-list li { display: inline }
.comma-list li:after { content: ", " }
.comma-list li:last-child:after { content: "" }

/*************** Buttons ***************/

.ghost-btn {
  background: transparent;
  letter-spacing: .14em;
  text-transform: uppercase;
  padding: 15px 41px;
  border: 2px solid;
  border-radius: 6px;
}

.ghost-btn:hover {
  background: transparent;
}

.ghost-btn-white {
  color: #F2F2F2;
}

.ghost-btn-dark {
  color: #4C4E61;
}

.ghost-btn-red {
  color: #A02828;
}

.ghost-btn-white:hover {
  color: #F2F2F2;
  border-color: #F2F2F2;
  box-shadow: 0px 0px 8px #F2F2F2;
}

.ghost-btn-dark:hover {
  color: #4C4E61;
  border-color: #4C4E61;
  box-shadow: 0px 0px 8px #4C4E61;
}

.ghost-btn-red:hover {
  color: #A02828;
  border-color: #A02828;
  box-shadow: 0px 0px 8px #A02828;
}

.large-btn {
  padding: 15px 25px;
  font-size: 18px;
  line-height: 1.3333333;
/*  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6;*/
}

/*************** Navigation ***************/

/*.custom-nav-item {
  padding-bottom:5px;
  padding-top:5px;
}*/

/*.main-chevron {
  position:absolute;
  top:40%;
}*/

.well-sm {
  border-radius: 4px;
  min-height: 42px;
  padding: 5px;
  margin-bottom: 15px
}

.top-menu-btn {
  margin-left: 5px;
}

.progress-tracker {
  background-color: #f5f5f5;
  padding: 5px 5px;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 0.43%;
  margin-left: 0.43%;
  width: 15.8%;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.progress-tracker-last-item {
  margin-right: 0;
}

.progress-tracker.active {
  border: 1px solid green;
  background-color: #dff0d8;
  color: #3c763d;
}

.progress-tracker.inactive {
  color: rgba(0, 0, 0, 0.3);;
}

.progress-tracker-wrapper a {
  text-decoration: none;
  color: #5a5a5a;
}

.progress-tracker-wrapper a:hover > div {
  border: 1px solid green;
  color: #3c763d;
  /*color: #5a5a5a;*/
}

.progress-tracker-icon-wrapper {
  position: relative;
}

.progress-tracker-text-wrapper {
  line-height: 1.3;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9% 0 0 -30%;
}

.progress-tracker-text {
  font-weight: bold;
  font-size: 14px;
}

.progress-tracker-step {
  font-size: 12px;
}

.progress-tracker .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 20% 0 0 -15%;
}

/*************** Layout ***************/

.not-found {
  text-align: center;
}

.not-found h2 {
  font-size: 60px;
  font-weight: 100;
}

/*************** Rateit ***************/

/*div.mystars div.rateit-range {
  background: url(mygraystar.svg);
}

div.mystars div.rateit-hover {
  background: url(myredstar.svg);
}

div.mystars div.rateit-selected {
  background: url(myredstar.svg);
}*/

/*************** Course Edit ***************/

#editCourseHeader {
  height: 39px;
}

.breadcrumb {
  margin-bottom: 0;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.breadcrumb-btn {
  position: relative;
  top: -35px;
  left: -5px;
  margin-left: 5px;
}

.hover-text {
  margin-top: 20px;
}

/*************** Content Edit ***************/

.editContentTitles {
  margin-top: 20px;
  /*margin-bottom: 15px;*/
  text-align: center;
}

/*************** Trainer Preview ***************/

.all-trainer-wrapper {
  box-shadow: 0px 0px 8px #4C4E61;
  margin-bottom: 15px;
  max-height: 270px;
  overflow-y: hidden;
}

.trainer-preview-image {
  display: block;
  height: 200px;
  background: no-repeat center center;
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.trainer-preview-caption {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  padding-bottom: 0px;
  height: 160px;
  overflow-y: hidden;

  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
}

.all-trainer-wrapper:hover .trainer-preview-caption {
  transform:  translateY(-90px);
  overflow-y: scroll;
}

.trainer-preview-name {
  font-weight: bold;
  letter-spacing: 2px;
  color: #A02828;
  margin-bottom: 5px;
}

.trainer-preview-name:hover {
  text-decoration: none;
  color: #A02828;
}

/*************** Course Preview Menu ***************/

.filters .nav > li > a {
  padding: 6px 15px;
}

.filters .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
  color: #333;
  background-color: transparent;
}

.filters .nav-pills > li.active > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.filters .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
}

.filters .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: #ccc;
}

.filters .dropdown-menu {
  top: -2px;
  left: 110%;
}

/*************** Course Preview ***************/

/*.all-courses-wrapper {
  height: 180px;
  box-shadow: 0px 0px 8px #4C4E61;
  margin-bottom: 15px; 
}

.col-preview-image {
  padding-right: 0; 
}

.course-preview-image {
  display: block;
  height: 180px;
  background: no-repeat center center;
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.course-preview-content {
  margin-right: 5px;
}


.course-preview-content a {
  text-decoration: none;
  color: #A02828;
  font-weight: bold;
  letter-spacing: 2px;
}

.course-title-preview {
  height: 25px;
  margin-top: 10px;
}

.course-description-preview {
  height: 45px;
}

.col-preview-content-right {
  padding-left: 0px;
}

.course-preview-rateit {
  padding-top: 3px;
}

.course-preview-item-list {
  margin: 3px 0px;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.1);
}*/

/*************** Course Detail ***************/

.course-detail-left {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.course-detail-right {
  padding: 0 10px 0 0;
}

.course-detail-head-text-wrapper {
  padding-left: 10px;
  height: 190px;
  background-color: rgba(0, 0, 0, 0.1);
}

.course-detail-head-text-wrapper p {
  padding-top: 4px;
}

.course-detail-head-text-wrapper a {
  text-decoration: none;
  color: #A02828;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.course-detail-head-text-wrapper h3 {
  color: #A02828;
  letter-spacing: 3px;
}

.course-title-detail {
  height: 70px;
}

.course-detail-head-categories {
  height: 22px;
}

.course-detail-head-image {
  display: block;
  height: 190px;
  background: no-repeat center center;
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.course-detail-body-text-wrapper {
  margin: 15px;
}

.course-detail-body-location-wrapper {
  margin: 15px;
}
.course-detail-event-panel {
  padding: 25px 15px;
  box-shadow: 0px 0px 8px #888;
}
.single-event {
  margin-top: 15px;
  /*border: 1px solid;*/
}

.single-event-right {
  height: 86px;
  text-align: center;
  /*border: 1px solid;*/
}
.single-event-right {
  padding-left: 0px;
  /*border: 1px solid;*/
}

.progress{
  margin-bottom: 0px;
  position: relative;
}

.progress > .progress-bar {
  position: absolute;
}

.openSpots {
  padding-right: 5px;
  position: relative;
  z-index: 1;
}

.single-event-item-list {
  margin: 3px 0px;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

.joinCourseButton {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 0;
}

/*************** Course Payment ***************/

#paymentModal .modal-body {
  padding: 10px 50px ;
}

#paymentModal .modal-body h4 {
  margin-top: 30px;
}

/*************** Profile ***************/

.profile-left img {
  width: 60%;
  margin-top: 26px;
}

.video-wrapper {
  margin: 25px;
}

/***************  ***************/

.editHelperText {
  position: fixed;
  width: 25%;
  /*margin-top: 24px;*/
  padding: 15px;
  /*background-color:rgba(165, 214, 255, 0.3);*/
  background-color:#f5f5f5;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #888;
  font-size: small;
}

.searchInput {
  margin-bottom: 25px;
}

.contain-format {
  white-space: pre-wrap;
}