
.comma-list { 
  list-style-type: none;
  padding-left: 0px;
 }
.comma-list li { display: inline }
.comma-list li:after { content: ", " }
.comma-list li:last-child:after { content: "" }


#preview-wrapper { height: 500px; padding: 0; }
#preview-frame { width:200%; height: 1000px; border: 1px solid black; }
#preview-frame {
    -ms-zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
}

/*************** Layout ***************/

.not-found {
  text-align: center;
}

.not-found h2 {
  font-size: 60px;
  font-weight: 100;
}

/*************** Course Edit ***************/

#editCourseHeader {
  height: 39px;
}

.hover-text {
  margin-top: 20px;
}

/*************** Content Edit ***************/

.editContentTitles {
  margin-top: 20px;
  /*margin-bottom: 15px;*/
  text-align: center;
}

/*************** Course Preview Menu ***************/

.filters .nav > li > a {
  padding: 6px 15px;
}

.filters .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
  color: #333;
  background-color: transparent;
}

.filters .nav-pills > li.active > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.filters .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
}

.filters .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: #ccc;
}

.filters .dropdown-menu {
  top: -2px;
  left: 110%;
}

/*************** Profile ***************/

.video-wrapper {
  margin: 25px;
}

/***************  ***************/

.editHelperText {
  position: fixed;
  width: 25%;
  /*margin-top: 24px;*/
  padding: 15px;
  /*background-color:rgba(165, 214, 255, 0.3);*/
  background-color:#f5f5f5;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #888;
  font-size: small;
}

.searchInput {
  margin-bottom: 25px;
}
