<template name="courseDetail">

  <div class="separator separator-inverted">
    <h2>{{ i18n 'course.courses' }} > {{ title }}</h2>
  </div>

  <section class="container">
    {{ #if canEdit }}
      <div class="row">
        <a href="{{ pathFor route='course.edit' slug=slug }}" class="btn btn-red pull-right" type="button"><i class="fa fa-pencil" style="color:white;"></i> {{ i18n 'edit' }}</a>
      </div>
    {{ /if }}

    <div class="row course-detail">

      <div class="col-md-2 col-sm-3 course-left">
        <div class="trainer-img" style="background-image: url({{ #if getImage }} {{ getImage }} {{else}} /Kurs.jpg {{/if}})"></div>
        <div class="share-container ">
          <div class="share-open">
            <a href="#" class="btn btn-dark-blue btn-square"><i class="fa fa-share-alt"></i></a>
          </div>
          <div class="share-btns">
            {{ > share shareData }}
          </div>
        </div>
        <!-- <div class="rateit rate-star dark-green pull-right" data-rateit-value="{{rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div> -->
      </div> <!-- col course-right -->

      <div class="col-md-7 col-sm-6 course-center">
        <h1>{{ title }}</h1>
        <h3><a href="{{ pathFor 'trainerProfile.show' slug=getOwnerSlug }}">{{ ownerName }}</a></h3>
        {{ #each categories }}
          <button type="button" class="btn btn-dark-blue btn-xs">{{ this }}</button>
        {{ /each }}
        <h4>{{ i18n 'course.description' }}</h4>
        <p class="pre-wrap">{{ description }}</p>

        {{ #if aims }}
          <h4>{{ i18n 'course.aims' }}</h4>
          <p class="pre-wrap">{{ aims }}</p>
        {{ /if }}

        {{ #if methods }}
          <h4>{{ i18n 'course.methods' }}</h4>
          <p class="pre-wrap">{{ methods }}</p>
        {{ /if }}

        {{ #if targetGroup }}
          <h4>{{ i18n 'course.targetGroup' }}</h4>
          <p class="pre-wrap">{{ targetGroup }}</p>
        {{ /if }}

        {{ #if prerequisites }}
          <h4>{{ i18n 'course.prerequisites' }}</h4>
          <p class="pre-wrap">{{ prerequisites }}</p>
        {{ /if }}

        {{ #if languages }}
          <h4>{{ i18n 'languages' }}</h4>
          <p class="pre-wrap">{{ languages }}</p>
        {{ /if }}

        {{ #if additionalServices }}
          <h4>{{ i18n 'course.additionalServices' }}</h4>
          <p class="pre-wrap">{{ additionalServices }}</p>
        {{ /if }}

      </div> <!-- col course-center -->

      <div class="col-md-3 col-sm-3 course-right">
        <h4>{{ i18n 'course.info' }}:</h4>
        <p><i class="fa fa-fw fa-clock-o" ></i> {{ duration }} {{ i18n 'course.duration' }}</p>
        <p><i class="fa fa-fw fa-users" ></i> {{ maxParticipants }} {{ i18n 'course.seats' }}</p>
        <p><i class="fa fa-fw fa-euro" ></i> {{ getFeePP }},- <span class="taxStatus">{{ taxStatus }}</span> </p>

        <hr>

        <!-- groups here -->
        <h4>{{ i18n 'course.chooseGroup' }}:</h4>

        {{ #each getCurrent }}

          <div class="well">

            <p><i class="fa fa-calendar fa-fw"></i> {{ i18n 'date' }}: {{ getPrettyDateRange }} </p>
            {{ #if bookedOut .. }}
              <p><i class="fa fa-hourglass-start fa-fw"></i> {{ i18n 'booking.bookedOut2' }}</p>
            {{ else }}
              <p><i class="fa fa-hourglass-start fa-fw"></i> noch {{ runtime .. }} Tage buchbar</p>
            {{ /if }}

            {{ > progressbar course=.. event=this }}

            {{ #unless bookedOut .. }}
              <div class="row text-center">
                <!-- <h5>{{ i18n 'course.joinGroup' }}:</h5> -->
                <a href="#" type="button" class="btn btn-red joinCourseButton">{{ i18n 'booking.book' }}</a>
              </div>
            {{ /unless }}

          </div> 

        {{ /each }}

        <div class="well">
          <h5 style="line-height: inherit;">Ihr wunschtermin ist bereits ausgebucht?</h5>
          <p>Für kommende Termine vormerken: <a href="mailto:info&#64;traincrowd.de?subject=Bitte informieren Sie mich, wenn neue Termine für den Kurs '{{ title }}' feststehen">info AT traincrowd.de</a></p>
        </div>

        <hr>

        <h4>{{ i18n 'location' }}:</h4>
        {{ #if noLocation }}
          <p>{{ i18n 'no.location' }}</p>
        {{ else }}
          <p> {{ #if firm }} {{ firm }} <br> {{ /if }}
          {{ street}} {{ streetNumber }} <br>
          {{ #if streetAdditional }} {{ streetAdditional }} <br> {{ /if }}
          {{ plz }} {{ city }} </p>
          <a href="https://www.google.de/maps/place/{{ street}}+{{ streetNumber }},{{ plz }}+{{ city }}" target="_blank"><img src="https://maps.googleapis.com/maps/api/staticmap?markers={{ street}}+{{ streetNumber }},{{ plz }}+{{ city }}&zoom=14&size=300x300&sensor=false" alt="" style="width: 100%;"></a>
        {{ /if }}

      </div> <!-- col course-right -->

    </div> <!-- row course -->

  </section>
</template>
