<template name="courseBoxSmall">

  <div class="row no-gutters coursebox">
    <div class="col-sm-4">
      <a href="{{ pathFor 'course.show' slug=this.slug }}">
        <div class="box-img">
          <div class="img-zoom" style="background-image: url({{ #if getImage }} {{ getImage }} {{else}} /Kurs.jpg {{/if}})"></div>
        </div>
      </a>

      <div class="share-container ">
        <div class="share-open">
          <a href="#" class="btn btn-dark-blue btn-square"><i class="fa fa-share-alt"></i></a>
        </div>
        <div class="share-btns">
          {{ > share shareData }}
        </div>
      </div>

      <!-- <div class="rateit rate-star dark-green pull-right" data-rateit-value="{{rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div> -->
    </div>

    <div class="col-sm-7 box-content">
      <div class="box-content-top">
        <a href="{{ pathFor 'course.show' slug=this.slug }}"><h3>{{ preview title 37 }}</h3></a>
        <a href="{{ pathFor 'trainerProfile.show' slug=getOwnerSlug }}"><h6>{{ ownerName }}</h6></a>
      <!-- </div> -->
      <!-- <div class="box-content-bottom"> -->
        {{ #each twocategories }}
          <a href="#" type="button" class="btn btn-dark-blue btn-xs">{{ this }}</a>
        {{ /each }}
      </div>
    </div>

      <div class="btn-bar">
        <div class="btn-bar-left">
          <ul>
            <li><i class="fa fa-calendar"></i></li>
            <li><i class="fa fa-clock-o"></i></li>
            <li><i class="fa fa-map-marker"></i></li>
            <li><i class="fa fa-users"></i></li>
            <li><i class="fa fa-euro"></i></li>
          </ul>
        </div>
        <div class="btn-bar-right">
          <ul>
            <li> {{ #if hasDate }} {{ getNextEvent.getPrettyDateRange }} {{ else }} {{ i18n 'no.date' }} {{ /if }} </li>
            <li> {{ duration }} {{ i18n 'course.duration' }} </li>
            <li> {{ #if city }} {{ city }} {{ else }} {{ i18n 'no.location' }} {{ /if }}</li>
            <li>
              {{ #if hasDate }}
                {{ #with getNextEvent }}

                  {{ > progressbar course=.. event=this style='-inverted' }}

                {{ /with }}
              {{ else }}
                {{ i18n 'no.date' }}
              {{ /if }}
            </li>
            <li> {{ getFeePP }},- <span class="taxStatus">{{ taxStatus }}</span> </li>
          </ul>
        </div>
      </div>

  </div>
</template>
