<template name="searchCourse">

  <div class="container">

    <div class="row tracker">

      {{ #if Template.subscriptionsReady }}
        <div class="tracker-slim col-md-2">
          <a href="#" class="filter" id="Alle">
            <span class="step-text">Alle Kurse</span>
          </a>
        </div>
        {{ #each metaCategories }}
          <div class="tracker-slim col-md-2">
            <a href="#" class="filter" id="{{ getShortName }}">
              <span class="step-text">{{ name }}</span>
            </a>
          </div>
        {{ /each }}
      {{ /if }}

    </div> <!-- row -->

  </div> <!-- container -->

<!--   <div class="separator separator-inverted">
    <h2>{{ getMetaCategory }}</h2>
  </div> -->

  <div class="container margin-top">

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="searchInput">
          {{ > EasySearch.Input index=index attributes=inputAttributes timeout=500 }}
        </div>
      </div>
<!--       <div class="col-md-2">
        {{ > filter }}
      </div> -->
    </div>

    {{ #EasySearch.IfSearching index=index }}
      <!-- {{ > searching }} -->
      {{ > loadingTemplate }}
    {{ else }}
      {{ #EasySearch.Each index=index }}
        {{ > courseBoxLarge }}
      {{ /EasySearch.Each }}

      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          {{ > EasySearch.LoadMore index=index attributes=loadMoreAttributes content="Mehr" count=50 }}
        </div>
      </div>
    {{ /EasySearch.IfSearching }}

    {{ #EasySearch.IfNoResults index=index }}
      {{ > searchFailed }}
    {{ /EasySearch.IfNoResults }}

  </div>
</template>

<!-- <template name="filter">
  <div class="filters pull-right">
    <ul class="nav nav-pills">

      <li role="presentation" class="dropdown">

        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          {{ i18n 'categories' }} <span class="fa fa-caret-right"></span>
        </a>

        <ul class="dropdown-menu" role="menu">
          <li role="presentation" class="filter left-menu-item"><a href="#">Alle</a></li>
          {{ #if Template.subscriptionsReady }}
            {{ #each metaCategories }}
              <li role="presentation" class="filter left-menu-item"><a href="#">{{ name }}</a></li>
            {{ /each }}
          {{ /if }}
        </ul>
      </li>

    </ul>
  </div>
</template> -->
